body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* Ici contient mon HEADER
j'y rajoute du style avec les propriétés font, texte-align et du display:flex */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

a{
    color: black;
    text-decoration: none;
}
/* ici j'ai rajouté la propriété margin et son attribut auto, pour centrer automatiquement mon logo */
.logo-header{
    width: 210px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: auto;
}

.img-menu{
    width: 100%;
    background-size: cover;
}

/* ici le titre, dans le main qui contient la section menu qui contient les plats entrees menu et dessert.
je commence par mettre en place le titre avec le coeur et ainsi la mise en forme de la page */
main{
    background-color: #f1f1f1;
}
.menu{
    background-color: #f1f1f1;
    border: 1px solid transparent;
    position: relative;
    bottom: 55px;
    border-radius: 45px 45px 0px 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.title{
    font-family: 'Shrikhand', cursive;
    font-size: xx-large;
    font-weight: 500;
}

/* ici le titre ainsi que l'icon du coeur, mise en place du style avec les flexblox, ainsi qu'un peu de padding */
.title-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
.fa-heart::before {
    content: "\f004";
    transition: color 500ms ease-in-out;
}
/* ici je rajoute la couleur grace a la pseudo class hover, le coeur se remplit grace a la propriété font-weight:bold */

.fa-heart:hover::before{
    /* color: rgb(147,86,220); */
    background: -webkit-linear-gradient(200deg,#9356dc 20%, #fc72d5 80%);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    cursor: pointer;
}
.title-menu{
    font-size: large;
    text-transform: uppercase;
    /* padding-left: 15px; */
    color: #5a5a5a;
    margin-bottom: 3px;
    font-weight: 100;
}

/* la balise hr me sert a mettre le petit train vert en dessous du titre entrée */
hr{
    width: 10%;
    margin: 0px;
    margin-left: 2px;
    height: 2px;
    background-color: #99E2D0;
    border: 1px solid transparent;
}
/* ici je vais commencer mettre en place les boutons, ou card, des entrées. */
.bouton{
    border: 0px solid black;
    background-color: white;
    margin-top: 15px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    box-shadow: 5px 6px 15px -6px rgb(0 0 0 / 26%);
    /* je déclare ici aussi l'animation, car ce selecteur correspond au premier bouton des sections entrer */
    transition: transform 500ms ease-in-out;
    animation: 1000ms ease 303.719ms 1 reverse both running slideDown;
    /* reverse me sert a faire l'animation en reverse. et both me sert a remplir le debut et la fin de mon animation */

    /* ici ces propriété me serve au animation sur tout les boutons */
    /* la valeur ellipsis, me sers a faire apparaitre les 3petit points si le texte ce faire ronger par l'encoche */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: padding-right 450ms ease-in-out;
}
/* ici je rajoute un delay en selectionnant les different enfant (bouton) grace au pseudo-classe nth-last-child */
.entrer .bouton:nth-last-child(2){
    /* animation: slideDown 1.2s reverse both; */
    animation: 1200ms ease 324.673ms 1 reverse both running slideDown;
}
.entrer .bouton:last-child{
    /* animation: slideDown 1.4s reverse both; */
    animation: 1400ms ease 344.511ms 1 reverse both running slideDown;
}
/* et ici je rajoute un delai pour les menu plat ainsi que les dessert, pour qu'il n'arrive pas tous en même temps */
.entrer.menu-plat .bouton{
    /* animation-delay: 1.3s; */
    /* j'ajuste le delay grace a l'outil devtools */
    animation-delay: 1764.8809477066711ms;
}
.entrer.menu-dessert .bouton{
    /* animation-delay: 2s; */
    animation-delay: 3010.6795358092045ms;
}

/* La keyframes me sert a faire la petite animation sur les carte, au chargement de la page.
elle me serve a pouvoir mettre une suite de transition du debut jusqua la fin de l'animation
Elle nous permet de créer des arrêts et des accélérations plus irréguliers*/
@keyframes slideDown{
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(30px);
        opacity: 0;
    }
}
/* ici je met en place l'élement qui vas me servir a faire l'animation sur les boutons */
.bouton:hover{
    padding-right: 80px;
    cursor: pointer;
}
.bouton:hover .anim {
    opacity: 1;
    transform: translate(-50px);
  }
  .bouton:hover .fa-circle-check {
    transform: rotate(360deg);
  }
.bouton:focus{
    padding-right: 80px;
    cursor: pointer;
}
.bouton:focus .anim {
    opacity: 1;
    transform: translate(-50px);
  }
  .bouton:focus .fa-circle-check {
    transform: rotate(360deg);
  }
.anim {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 30px;
    height: 24px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    padding: 20px;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 330ms ease-in-out;
  }
  .anim .fa-circle-check {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }
.bouton p{
    margin: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.plat{
    font-weight: bold;
}

/* cette div me sert a mettre en place comme sur la maquette, grace au flexbox */
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}
.entrer.menu-plat{
    padding-top: 25px;
}

.entrer.menu-dessert{
    padding-top: 25px;
}
/* ici le bouton pour commander */
._bouton{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    padding-top: 45px;
}
._bouton button{
    border: none;
    color: white;
    border-radius: 25px;
    width: 240px;
    font-size: 17px;
    height: 50px;
    box-shadow: 5px 6px 15px -2px rgba(0,0,0,0.26);
    background: linear-gradient(353deg,#9356dc 30%, #ff79da 80%);
    transition: .5s ease-out ;
    cursor: pointer;
}
._bouton button:hover{
    background: linear-gradient(353deg,#9356dc 0%, #ff85dc 100%);
    box-shadow: 5px 6px 15px 11px rgba(0,0,0,0.26);
}

/* ici le footer, comme pour la page d'accueil */
.title-footer{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    /* padding-left: 20px; */
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-propose{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    color: white;
}
.footer-propose p{
    padding-left: 20px;
}
footer{
    background-color: #353535;
    padding-bottom: 25px;
    padding-left: 7%;
}
footer p{
    /* padding-left: 15px; */
    margin: 0;
    color: white;
    margin-bottom: 8px;
}
