body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* Ici contient mon HEADER
j'y rajoute du style avec les propriétés font, texte-align et du display:flex */
nav{
    display: flex;
    justify-content: center;
}
.logo-header{
    width: 210px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.recherche_ville{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    background-color: #f1efef;
    box-shadow: -6px 20px 18px -19px rgba(100,99,99,0.75) inset;
    
}
.recherche_ville .--texte{
    font-weight: 600;
    color: #454545;
}
.recherche_ville .icon{
    padding-right: 15px;
    color: #454545;
}
.recherche_restau{
    background: linear-gradient(182deg,#fdfdfd 0%, #e6e6e6 70%);
    padding-bottom: 60px;
}

/* J'ai centrer le texte comme sur la maquette en ajouter la propriéte width:60% ainsi que la propriété margin: auto, pour pouvoir le centrer automatiquement */
.recherche_restau .--texte{
    font-size: x-large; 
    font-weight: bold;
    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 35px;
}
.recherche_restau .--bouton{
    display: flex;
    justify-content: center;
}
/* J'ai mis une taille et hauteur fixe en pixel sur le bouton
avec son style */
.--bouton button{
    border: none;
    color: white;
    border-radius: 25px;
    width: 240px;
    font-size: 17px;
    height: 50px;
    box-shadow: 5px 6px 15px -2px rgba(0,0,0,0.26);
    background: linear-gradient(353deg,#9356dc 30%, #ff79da 80%);
}
.recherche_restau .--sousTexte{
    text-align: center;
    font-size: larger;
}




/* LE MAIN */

/* ET POUR COMMENCER, LA SECTION FONCTIONNEMENT */

.fonctionnement{
    padding-bottom: 60px;
    padding-top: 10px;
}
/* le text align center me sert a centrer le texte, le padding en dessous me sert pour le mettre a ras des boutons en dessous, et que sa puisse suivre responsivement */
.fonctionnement .--texte{
    font-size: x-large; 
    font-weight: bold;
    text-align: center;
    padding-right: 190px;
}
/* j'ai rajouter le line height au bouton , pour qu'il puisse bien s'aligné */
.fonctionnement button{
    width: 360px;
    height: 65px;
    border-radius: 15px;
    border: none;
    text-align: start;
    font-size: 14px;
    font-weight: 600;
    background-color: #f4f4f4;
    box-shadow: 5px 6px 15px -6px rgb(0 0 0 / 26%);
    line-height: 5;
    
}
.fonctionnement .color-purple{
    background-color: #f1e9fb;
}
.icon_fonction{
    padding-right: 20px;
    padding-left: 15px;
}

.tout{
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
}
/* j'ai rajouter le margin negatif, car pour l'instant je n'ai trouvé que cette solution pour rendre le même rendu que sur maquette */
.tout .icon-number{
    border: 1px solid;
    padding: 5px 8px 5px 8px;
    border-radius: 70%;
    position: relative;
    background-color: #9356DC;
    color: white;
    margin-right: -15px;
    /* position: absolute; */
    /* margin-top: 10px; */
    /* left: 0%; */
}
/* pour pouvoir mettre la derniere icon de la bonne couleur  */
.icon_fonction.color{
    color: #9356DC;
}






/* ICI LA SECTION RESTAURANT ET CES CARD */
.restaurant{
    background-color: #f1f1f1;
    padding-top: 20px;
    padding-bottom: 30px;
}
.restaurant .--texte{
    font-size: x-large; 
    font-weight: bold;
    padding-left: 30px;
}

/* ici je donne une taille en pixell au card directement
j'ai remplacer les pixel par le % pour que responsivement, sa se comporte mieux. */
.restaurant-card{
    /* width: 350px; */
    width: 85%;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    height: 260px;
    margin-bottom: 20px;
}

/* les images des card prenne 100% de la largueur de la card, et ce couvre la card grace a la propriété background-size: cover */
.img_main{
    background-size: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: calc(100% - 75px);
    object-fit: cover;
}
.restaurant-name{
    font-size: larger;
    font-weight: bolder;
    margin: 0px;
    padding-top: 10px;
    padding-left: 10px;
}
.restaurant-lieu{
    margin: 0px;
    padding-top: 8px;
    padding-left: 10px;
}
.icon-heart{
    float: right;
    padding-right: 25px;
}
/* ici j'ai jouer avec la propriété position et son attribut absolute, pour pouvoir placer le petit bloc "nouveau" sur la droite de la photo
un peu de padding pour bien placé l'element avec aussi du margin en %, pour le comportement des elements par rapport au differente taille d'écran */
.nouveaute{
    z-index: 2;
    position: absolute;
    border: 1px solid transparent;
    /* margin-left: 240px; */
    margin-left: 57%;
    background-color: #99E2D0;
    color: #11745c;
    padding: 6px;
    border-radius: 3px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

/* ici Le FOOTER */

.--title{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-propose{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    color: white;
}
.footer-propose p{
    padding-left: 20px;
}
.footer-propose i{
    padding-left: 20px;
}


/* .footer-partenaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}

.footer-partenaire p{
    padding-left: 20px;
    margin: 0;
}
.footer-partenaire i{
    padding-left: 20px;
} */
footer{
    background-color: #424141;
    padding-bottom: 25px;
}
footer p{
    padding-left: 15px;
    margin: 0;
    color: white;
    margin-bottom: 8px;
}
